a, a:visited {
    text-decoration: none;
}

header {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}

.logoBlack {
    left: 10px;
}

.menu1 {
    float: right;
    padding: 25px;    
}

.item {
    padding: 20px;
    
}

.sparkleVideo {
    height: 722px;
    width: 1366px;
    left: 0px;
    top: 47px;
    border-radius: 0px; 
    max-width: 100%;   
}


main {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.text1 {
    text-align: center;
    height: 114px;
    width: 654px;
    left: 359px;
    top: 919px;
    border-radius: nullpx;
    
}

.images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 100%;
}
.column {
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.heading {
    font-family: 'Oswald', sans-serif;
}

.button {
    color: white;
    background-color: #efcc00;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
}

.form {
    text-align: center;
}


input[type=text], textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    background-color: #C4C4C466;
    border-radius: 6px;
    width: 296px;
    height: 43px;
    left: 377px;
    top: 2113px;
}

.piekrišana {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

aside {
    background-color: #efcc00;
}

.SparkleLogoYellow {
    padding: 35px;
}

.list2 a {
    display: block;
    padding: 12px;
}

/* .footer1 {
    float: left;
}

.contacts {
    float: right;
    
}
*/

footer {
    background-color: #2F4858;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 480px){

    .sparkleVideo {
        height: 169px;
        width: 320px;
        left: 0px;
        top: 49px;
        border-radius: 0px;
    }
    .text1 {
        height: 124px;
        width: 280px;
        left: 20px;
        top: 298px;
        border-radius: nullpx;        
    }
}