header {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.sparkleVideo {
    height: 722px;
    width: 1366px;
    left: 0px;
    top: 47px;
    border-radius: 0px;    
}

.logoBlack {
    width: 159px;
    height: 146px;
    left: 62px;
    top: -50px;

background: url(BlackLogo);
}

main {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.text1 {
    text-align: center;
    height: 114px;
    width: 654px;
    left: 359px;
    top: 919px;
    border-radius: nullpx;

}

.heading {
    font-family: 'Oswald', sans-serif;
}

.button {
    color: white;
    background-color: #efcc00;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
}

.form {
    text-align: center;
}


input[type=text], textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    background-color: #C4C4C466;
    border-radius: 6px;
    width: 296px;
    height: 43px;
    left: 377px;
    top: 2113px;
}

.piekrišana {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

aside {
    background-color: #efcc00;
}

footer {
    background-color: #2F4858;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}